<div class="profile-sidebar">
  <a href="#" class="profile-tab active" data-tab="profile">Profile</a>
  <a href="#" class="profile-tab" data-tab="settings">Settings</a>
  <a href="#" class="profile-tab" data-tab="modules">Modules</a>
</div>

<div class="profile-main">
  <div id="profile-tab-profile" class="profile-tab-panel active">
    {% include "core/profile_profile.html" %}
  </div>

  <div id="profile-tab-settings" class="profile-tab-panel">
    {% include "core/profile_settings.html" %}
  </div>

  <div id="profile-tab-modules" class="profile-tab-panel">
    {% include "core/profile_modules.html" %}
  </div>
</div>
